*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
body{
    background: #062F4F;
    background: linear-gradient(125deg, #062F4F 0%, #813772 50%, #B82601 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_header img{
    max-width: 100%;
}
.main_header hr{
    width: 50%;
    margin: 30px auto 30px auto;
    opacity: 0.3;
}

.main_content h1{
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 50px;
}
.main_contact{
    background: #fff;
    width: 60%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
}
.main_contact_form, .main_contact_alternative{
    flex-basis: 50%;
}
.main_contact_form{
    padding: 30px;
}
.main_contact_form h1{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #555;
}
.main_contact_form form{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_contact_form form input, .main_contact_form form textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid #ddd;
    font-size: 0.875em;
    resize: none;
}
.main_contact_form form textarea{
    height: 100px;
}
.main_contact_form form button{
    padding: 10px 0;
    border: 0;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
    background: #062F4F;
    background: linear-gradient(125deg, #062F4F 0%, #813772 50%, #B82601 100%);
    transition-duration: 0.5s;
    color: #fff;
    margin-top: 10px;
    width: 110px;
}
.main_contact_form form button:hover{
    background-position: 110px;
    cursor: pointer;
}
.main_contact_alternative{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 17px 17px 0;
    border-radius: 0 17px 17px 0;
    border: 3px solid #fff;
    border-left: 0;
    padding: 27px;
}
.main_contact_alternative p {
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
}
.main_contact_alternative_now{
    margin-top: 30px;
}
.main_contact_alternative_now a {
    margin-top: 13px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    display: inline-block;
}
.main_contact_alternative_now a:hover{
    font-style: italic;
}
.main_footer{
    margin: 30px 0;
    font-style: italic;
    color: #fff;
}
@media(max-width: 78em){
    .main_contact{
        width: 80%;
    }
    .main_contact_form form input, .main_contact_form form textarea{
        width: 95%;
    }
}
@media(max-width: 59em){
    .main_contact{
        width: 95%;
    }
}
@media(max-width: 43em){
    .main_header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_header img{
        margin-top: 50px;
        max-width: 70%;
    }
    .main_content h1{
        font-size: 1.4em;
    }
    .main_contact{
        width: 95%;
        flex-direction: column-reverse;
    }
    .main_contact_form h1{
        font-size: 1.6em;
    }
    .main_contact_form form button{
        font-size: 1em;
    }
    .main_contact_form, .main_contact_alternative{
        flex-basis: 100%;
    }
    .main_contact_alternative{
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        border: 3px solid #fff;
        border-bottom: 0;
    }
    .main_contact_alternative p {
        font-size: 1em;
    }
    .main_contact_alternative a {
        font-size: 1.1em;
    }
    .main_footer{
        font-size: 0.875em;
    }
}